@charset "utf-8";

section {
    width: 82.4390vw;
    margin:  0 auto;
}
section article .article-tit{
    font-size: 3.4146vw;
    color: #3c46b9;
    margin-bottom: 10.2439vw;
    font-weight: 500;
}
article {
    padding-bottom: 21.9512vw;
    position: relative;
    margin-bottom: 20.7317vw;
}
article::after {
    content: "";
    display: block;
    width: 100vw;
    height: 0.2439vw;
    background-color: #ccc;
    position: absolute;
    bottom: 0; 
    left: -8.7805vw;
}
article .txt-box p {
    font-size: 4.0244vw;
    font-weight: 500;
    line-height: 7.8049vw;
    letter-spacing: -0.2439vw;
}
article .txt-box .txt1 {
    margin-bottom: 9.2683vw;
}
article .txt-box .txt2 {
    margin-bottom: 15.8537vw;
}
article .txt-box .article-emp {
    font-size: 7.8049vw;
    font-weight: bold;
    margin-bottom: 9.2683vw;
    line-height: 11.7073vw;
}
article .txt-box p span {
    color: #3c46b9;
    letter-spacing: inherit;
}
article .box-wrap {}
article .box-wrap .box{
    width: 100%;
    margin-bottom: 15.8537vw;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 14.6341vw auto;
}
article.partner .box-wrap .b1 {background-image: url(../images/icon-partner_01.png);}
article.partner .box-wrap .b2 {background-image: url(../images/icon-partner_02.png);}
article.partner .box-wrap .b3 {background-image: url(../images/icon-partner_03.png);}
article.platform .box-wrap .b1 {background-image: url(../images/icon-platform_01.png);}
article.platform .box-wrap .b2 {background-image: url(../images/icon-platform_02.png);}
article.platform .box-wrap .b3 {background-image: url(../images/icon-platform_03.png);}
article.platform .box-wrap .b4 {background-image: url(../images/icon-platform_04.png);}
article.platform .box-wrap .b5 {background-image: url(../images/icon-platform_05.png);}

article .box-wrap .box div{
    padding-left: 23.1707vw;
}
article .box-wrap .box div p{
    font-size: 3.9024vw;
    line-height: 6.8293vw;
    letter-spacing: -0.2439vw;
    word-break: keep-all;
}
article .box-wrap .box div .box-emp{
    font-size: 5.3659vw;
    font-weight: bold;
    margin-bottom: 6.5854vw;
}
.d2c {
    margin-bottom: 20.7317vw;
}
.d2c .txt-box .txt2 {
    margin-bottom: 0;
}
.partner .box-wrap .b3{
    margin-bottom: 0;
}
.platform .box-wrap .b5{
    margin-bottom: 0;
}
.uzen {
    padding-bottom: 19.5122vw;
    margin-bottom: 0;
}
.uzen > h2{
    width: 36.9512vw;
    height: 10.4878vw;
    /* background-color: yellow; */
    background-image: url(../images/uzen.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    text-indent: -1219.3902vw;
    margin-bottom: 20.7317vw;
}
.uzen .txt-box {
    margin-bottom: 8.5366vw;
}
.uzen .txt-box .txt2 {
    margin-bottom: 0;
    padding-bottom: 15.8537vw;
    border-bottom: 0.2439vw solid #000;
    
}
.uzen .clients {
    padding-bottom: 9.7561vw;
    margin-bottom: 15.8537vw;
    border-bottom: 0.2439vw solid #000;
}
.uzen .clients .article-tit {
    font-size: 4.1463vw;
    font-weight: bold;
    margin-bottom: 11.4634vw;
}
.uzen .clients ul {
    width: 100%;
    height: 64.6341vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 1.2195vw;
}
.uzen .clients ul li{
    font-size: 4.8780vw;
    width: 50%;
    letter-spacing: -0.2439vw;
    font-weight: bold;
}
.uzen .clients ul li:last-child {
    width: 100%;
    height: 64.6341vw;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(transparent , rgba(255,255,255,0.9) 70%);
} 
.uzen .clients .btn-des {
    font-size: 3.4146vw;
    line-height: 4.8780vw;
    margin-bottom: 4.8780vw;
    font-weight: 500;
}
.uzen .clients .btn {
   width: 29.2683vw;
   height: 12.1951vw;
   background-color: #3c46b9; 
   text-align: center;
   line-height: 12.1951vw;
   border-radius: 0.4878vw;
   font-size: 3.4146vw;
   color: #fff;
   font-weight: bold;
   letter-spacing: -0.2439vw;
}
.uzen .link {}
.uzen .link .link-des{
    font-size: 4.1463vw;
    line-height: 7.8049vw;
    font-weight: 500;
    letter-spacing: -0.2439vw;
    margin-bottom: 15.8537vw;
}
.uzen .link ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.uzen .link ul li{
    width: 39.2683vw;
    height: 12.1951vw;
    text-align: center;
    line-height: 12.1951vw;
    margin-bottom: 4.8780vw;
    border-radius: 0.4878vw;
    box-sizing: border-box;
}
.uzen .link ul li a{
    width: 100%;
    height: 100%;
    font-size: 3.4146vw;
    font-weight: 600;
    color: #fff;
    background-color: #3c46b9;
    border-radius: 0.4878vw;
}
.uzen .link ul .youtube{
    border: 0.2439vw solid #3c46b9;
}
.uzen .link ul .youtube a {
    background-color: #fff;
    background-image: url(../images/link-youtube.png);
    background-repeat: no-repeat;
    background-size: 19.0244vw;
    background-position: center;
    text-indent: -121.8293vw;
    
}
footer {
    width: 100%;
    height: 107.3171vw;
    background-color: #000;
}
